@using DoAnWeb.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<DoAnWeb.Models.CHATLIEU>
@{
    ViewBag.Title = "ChatLieu";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport1" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/jquery_321/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <meta name="viewport1" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">

@using (Html.BeginForm())
{
    <div class="form-group row"> 
        <b class="col-sm-2" style="font-size:1.2em; text-align:center">Tên Loại</b> @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class="form-control col-md-2" })  
        <input type="submit" value="Tìm kiếm" class="btn btn-info col-md-1" style="margin-left:5px" />
        <button type="button" class="btn btn-info text col-md-1" style="margin-left:10px"><a href="#" style="text-decoration:none;">Create</a></button>
    </div>
}
<div class="row" >
<table class="table">
    <thead>
    <tr>
        @Html.Raw(ViewBag.Headings)
    </tr>
    </thead>
        @foreach (var item in Model)
        { 
            <tr>
                <td>@item.MACL</td>
                <td>@item.TENCL</td>  
                <td><button type="button" class="btn btn-danger text" style="margin-left:10px"><a href="#" style="text-decoration:none;">Delete</a></button>
                <button type="button" class="btn btn-warning text " style="margin-left:10px"><a href="#" style="text-decoration:none;">Edit</a></button>
                </td>        
            </tr>
        }
</table>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("ChatLieu","Admin",FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
             
            @Html.Hidden("page", (object) ViewBag.page)
            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
            @Html.Hidden("searchString", (object)ViewBag.searchValue)
        }
    </div> 
    <div >
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>
<div class="Menu">
@Html.PagedListPager(Model, page => Url.Action("ChatLieu", new { page, size = ViewBag.currentSize, sortProperty = ViewBag.sortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.searchValue }))
</div>
</div>
</body>
</html>
<style>
    .Menu li{ 
        display:inline;
        border:1px solid #808080;
        width:30px;
        height:30px;
        text-align:center;
    }
</style>