@model DoAnWeb.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SANPHAM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TENSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TENSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HINHANH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HINHANH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DONGIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DONGIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CHITIET)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CHITIET)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MALOAI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MALOAI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MACL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MACL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MATH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MATH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MATUOI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MATUOI)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
